<div class="col-container">
  <form #formContainer="ngForm" (ngSubmit)="onSubmit()">
    <label for="email">Email: </label>

    <input
      name="email"
      type="email"
      required
      email
      [(ngModel)]="userInput.email"
      #email="ngModel"
    />
    <p style="color: red" *ngIf="email.touched && email.invalid">
      Enter valid Email
    </p>
    <br />
    <label for="password">Password: </label>
    <input
      name="password"
      type="password"
      required
      [(ngModel)]="userInput.password"
      #password="ngModel"
    />
    <p style="color: red" *ngIf="password.touched && password.invalid">
      Enter Valid Password
    </p>
    <br />
    <label for="type">User Type: </label>
    <select [(ngModel)]="userInput.type" required name="type" #type="ngModel">
      <option value="" selected disabled></option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
    <p style="color: red" *ngIf="type.touched && type.invalid">
      Choose a valid User Type
    </p>
    <br />
    <button type="submit" [disabled]="formContainer.invalid">Signup</button>
  </form>
  <p>
    Already have an account?
    <span style="cursor: pointer; color: blue" (click)="toSignIn()"
      >SignIn</span
    >
  </p>
</div>
