<div class="col-container card-container" *ngIf="!isLoading">
  <table class="user-table">
    <thead>
      <tr>
        <td>Item Name</td>
        <td>Item Quantity</td>
        <td>Total Price</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.prodName }}</td>
        <td>{{ order.amount }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
