<div class="col-container" *ngIf="!isLoading">
  <div class="card-container auth-card">
    <form
      #formContainer="ngForm"
      (ngSubmit)="addProductToInventory()"
      class="form-container"
    >
      <label for="name">Product Name: </label>

      <input
        name="name"
        type="text"
        required
        [(ngModel)]="newProduct.name"
        #name="ngModel"
      />
      <p style="color: red" *ngIf="name.touched && name.invalid">
        Enter valid Name
      </p>
      <label for="quantity">Quantity: </label>
      <input
        name="quantity"
        type="number"
        required
        [(ngModel)]="newProduct.quantity"
        #quantity="ngModel"
      />
      <p style="color: red" *ngIf="quantity.touched && quantity.invalid">
        Enter Valid quantity
      </p>
      <label for="price">Price: </label>
      <input
        name="price"
        type="number"
        required
        [(ngModel)]="newProduct.price"
        #price="ngModel"
      />
      <p style="color: red" *ngIf="price.touched && price.invalid">
        Enter Valid Price
      </p>

      <button [disabled]="formContainer.invalid" type="submit">Add</button>
    </form>
  </div>

  <div class="col-container card-container">
    <table class="user-table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of inventories">
          <td>{{ inventory.name }}</td>
          <td>{{ inventory.quantity }}</td>
          <td>{{ inventory.price }}</td>
          <td>
            <span
              class="span-btn green"
              (click)="increaseProductCount(inventory.id, inventory)"
              >+</span
            >
            <span
              class="span-btn red"
              (click)="decreaseProductCount(inventory.id, inventory)"
              >-</span
            >
            <button (click)="deleteProduct(inventory.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
