<div class="row-container nav-bar">
  <div class="row-container">
    <div routerLinkActive="active">
      <a routerLink="/user/catalog">Catalog</a>
    </div>
    <div routerLinkActive="active">
      <a routerLink="/user/cart">Cart</a>
    </div>
    <div routerLinkActive="active">
      <a routerLink="/user/track-order">Track Orders</a>
    </div>
    <div routerLinkActive="active">
      <a routerLink="/user/profile">Profile</a>
    </div>
  </div>
  <button class="destructive-btn" (click)="logout()">logout</button>
</div>
