.nav-bar {
  padding: 5px 20px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(156, 220, 250);
  border-radius: 4px;
}

a {
  text-decoration: none;
}
