<div class="col-container" *ngIf="!isLoading">
  <div class="cart-item" *ngFor="let item of cartItems">
    <div class="cart-details">
      <p>Name: {{ item.name }}</p>
      <p>Price: {{ item.price }}</p>
    </div>
    <div class="cart-actions row-container">
      <span
        class="action-btn span-btn green"
        (click)="increaseItemCount(item.id, item)"
        >+</span
      >
      <p>Amount: {{ item.amount }}</p>
      <span
        class="action-btn span-btn red"
        (click)="decreaseItemCount(item.id, item)"
        >-</span
      >
      <button class="destructive-btn" (click)="removeItem(item.id)">
        Remove
      </button>
    </div>
  </div>
  <p class="cart-total">Cart Total: {{ totalPrice }}</p>
  <button class="add-cart-btn" (click)="bookOrder()">Book Order</button>
</div>

<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
