<div class="col-container">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Update status</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.prodName }}</td>
        <td>{{ order.amount }}</td>
        <td>
          <select
            [(ngModel)]="order.status"
            required
            name="status"
            #status="ngModel"
          >
            <option value="" selected disabled>{{ order.status }}</option>
            <option value="Placed">Placed</option>
            <option value="Processing">Processing</option>
            <option value="On the way">On the way</option>
            <option value="Delivered">Delivered</option>
          </select>
          <button (click)="updateStatus(order.id, order)">Update</button>
        </td>
        <td>
          <button (click)="deleteOrder(order.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
